body {
  font-family: 'Roboto', sans-serif;
 }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.page-component {
  height: 100vh;
}

#landing-component {
  margin-top: auto;
  margin-bottom: auto;
  height: 90vh;
}

#about {
  background-color: rgb(32, 32, 32);
  color: white;
}

#about-1-wrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-1-wrapper-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-2 {
  background-color: white;
  color: black;
  height: 100vh;
}

#about-2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text {
  font-size: 18px;
  padding: 24px;
  color:rgb(232, 232, 232);
  margin-right: 12px;
}

.about-text-3 {
  width: 350px;
}

#brands {
  background-color: rgb(32, 32, 32);
  color: white;
}

#contact {
  background-color: white;
  color: black;
}

.header-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 200;
  font-size: 90px;
  letter-spacing: .3rem;
  padding-top: 84px;
  padding-bottom: 24px;
}

.contact-wrapper {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brands-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brands-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#brands-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  /* margin-right: 6px; */
}

#footer {
  display: flex;
  align-items: center;
  color: rgb(206, 206, 206);
  margin-top: auto;
  margin-bottom: 24px;
}

#footer a {
    color: rgb(206, 206, 206);
}

#header {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-wrapper {
  background-color: white;
  display: flex;
  height: 10vh;
  z-index: 1;
  align-items: center;
  margin-bottom: 80px;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: .1rem;
  color: black;
}

.nav-item:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 4px 10px;
  border: 2px solid black;
  border-radius: 2px;
}

#button-contact {
  text-decoration: none;
  color: white;
  letter-spacing: .1rem;
  background-color: black;
  padding: 6px 12px;
  border-radius: 2px;
  margin: 0 0 0 12px;
}

#button-contact:hover {
  background-color: white;
  color: black;
  padding: 4px 10px;
  border: 2px solid black;
}

#logo-big {
  width: 50%;
  height: 50%;
}

#portrait {
  width: 385px;
  height: 385px;
  object-fit: cover;
}

.garage-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.col-6 {
  padding: 0;
}

.col-7 {
  padding: 0;
}

.light-gray {
  color:rgb(202, 202, 202);
}


@media only screen and (max-width: 768px) {
  #logo-big {
    width: 80%;
    height: 80%;
  }
}
