body {
  font-family: 'Roboto', sans-serif;
 }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#landing-component {
  margin-top: auto;
  margin-bottom: auto;
}

#about {
  background-color: white;
  color: black;
}

#about-1-wrapper-1 {
  display: flex;
  flex-direction: row;
}

#about-1-wrapper-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-2 {
  background-color: white;
  color: black;
}

#about-2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text {
  font-size: 16px;
  margin-right: 24px;
}

.about-text-3 {
  margin-left: 24px;
}

#brands {
  background-color: white;
  color: black;
}

#contact {
  background-color: white;
  color: black;
}

.header-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 200;
  font-size: 90px;
  letter-spacing: .3rem;
  padding-top: 12px;
  padding-bottom: 24px;
}

.header-text.second {
  padding-top: 24px;
}

.contact-wrapper {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brands-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#brands-image {
  width: 550px;
  height: 350px;
  object-fit: cover;
  margin-right: 12px;
}

#footer {
  display: flex;
  align-items: center;
  color: rgb(206, 206, 206);
  margin-top: auto;
  margin-bottom: 24px;
}

#footer a {
    color: rgb(206, 206, 206);
}

#header {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-wrapper {
  background-color: white;
  display: flex;
  height: 10vh;
  z-index: 1;
  align-items: center;
  margin-bottom: 24px;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: .1rem;
  color: black;
}

.nav-item:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 4px 10px;
  border: 2px solid black;
  border-radius: 2px;
}

#button-contact {
  text-decoration: none;
  color: white;
  letter-spacing: .1rem;
  background-color: black;
  padding: 6px 12px;
  border-radius: 2px;
  margin: 0 0 0 12px;
}

#button-contact:hover {
  background-color: white;
  color: black;
  padding: 4px 10px;
  border: 2px solid black;
}

#logo-big {
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

#portrait {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.garage-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.col-6 {
  padding: 0;
}

@media only screen and (max-width: 980px) {

  .about-text {
    font-size: 16px;
    margin-right: 12px;
  }

  #about-1-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-2-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .brands-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #brands-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  .page-component {
    height: none;
  }

  .about-mobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
}
